item {
	ion-card img {
		width: auto;
		height: 100%;
	    margin: 0 auto;
	}

	.card-ios, .card-md {
		margin: 0;
		width: 100%;
	}

	.card-content-ios, .card-content-md {
		padding: 0px 10px 0px;
		font-size: 10px;
	}

	.height-20vh {
		height: 20vh;
	}
}
