page-gps-use {
	.home-screen {
		background-color: #3f51b5;
	}

	.wfp-logo {
		padding-top: 12vh;
	}

	.logo-1 {
		width: 14vh !important;
		height: 16vh !important;
	}

	.logo-row{
		flex: 0.4;
	}

	.gps-text {
		flex: 0.6;
		color: white;
		font-size: 4vh;
	}

	.dialog-text {
		flex: 0.3;
		color: white;
		font-size: 4vh;
	}

	.white-text {
		color: white;
	}

    ion-row {
        flex: 1;
    }

	ion-grid {
        padding: 0;
        height: 100%;
    }
}
